<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>

		<link
			href="../static/bootstrap/bootstrap/css/bootstrap.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="../static/bootstrap/bootstrap/css/bootstrap-responsive.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script
			defer
			src="../static/bootstrap/bootstrap/js/bootstrap.min.js"
		></script>

		<style>
			body {
				padding-top: 60px;
			}
			.tr-head {
				background-color: #f5f5f5;
			}
		</style>

		<title>Document</title>
	</head>
	<body>
		<nav class="navbar navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="" class="brand"> IDGS-801 </a>
					<ul class="nav">
						<li class="active">
							<a href="">
								<i class="icon-home icon-white"></i>
								Inicio
							</a>
						</li>
						<li>
							<a href="">
								<i class="icon-user icon-white"></i>
								Usuarios
							</a>
						</li>
						<li>
							<a href="">
								<i class="icon-user icon-white"></i>
								Alumnos
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">{% block content %} {% endblock %}</div>
	</body>
</html>
