{% extends "layout2.html" %} {% block content %}
<form action="/resultado" method="POST">
	<label>
		Numero 1
		<input type="number" name="tipo" />
	</label>
	<label>
		Numero 2
		<input type="number" name="tipo" />
	</label>

	<div class="control">
		<label class="radio">
			<input type="radio" name="tipo" />
			Yes
		</label>
		<label class="radio">
			<input type="radio" name="tipo" />
			No
		</label>
	</div>

	<button type="submit" class="btn outline btn-success">
		Enviar
	</button>
</form>
{% endblock %}
